<!-- 个人中心 -->
<div class="center-box">
    <div class="my-account">
        <h4 class="info-title">账户信息</h4>
        <p class="username">用户名：<span>abc1234567</span></p>
        <p class="fullname">姓名：杨鹏飞</p>
        <p class="phone">手机号：<span>18814127780</span> / <span>63780</span></p>
        <p class="email">邮箱：<span>microsoft@126.com</span></p>
        <a href="#" class="btn">修改账户信息</a>
    </div>
    <div class="my-task">
        <h4 class="info-title">任务量统计</h4>
        <p class="rank">您的称号：<span>超越神啦~</span></p>
        <p class="credits">积分：<span>10000</span></p>
        <p class="total-count">任务总量：<span>100</span></p>
        <p class="tasking">任务进行中：<span>2</span></p>
        <p class="month-count">本月任务量：<span>4</span></p>
        <a href="mytask-more">查看任务详情</a>
    </div>
    <!-- 图表 -->
    <div class="graphic">

    </div>
</div>