/* custom Font*/
@font-face {
  font-family: "covered_by_your_graceregular";
  font-weight: normal;
  font-style: normal;
  src: url("../font/coveredbyyourgrace-webfont.eot");
  src: url("../font/coveredbyyourgrace-webfont.eot?#iefix") format('embedded-opentype'), url("../font/coveredbyyourgrace-webfont.svg#covered_by_your_graceregular") format('svg'), url("../font/coveredbyyourgrace-webfont.woff") format('woff'), url("../font/coveredbyyourgrace-webfont.ttf") format('truetype');
}
/* icon Font */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../font/fontawesome-webfont.eot?v=#3.2.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=#3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=#3.2.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=#3.2.1") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=#3.2.1") format("svg");
}
/* Public style */
* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body {
  background-color: #fcfcfc;
  background: url("/img/bg.jpg") no-repeat center center fixed;
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 100%;
  color: #817c7c;
  line-height: 1.5;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
  padding-left: 0.3em;
}
sub {
  bottom: -0.25em;
}
a {
  text-decoration: none;
  color: #817c7c;
}
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  transition: color 0.25s, background 0.5s;
}
a:hover:before {
  transition: color 0.25s, background 0.5s;
}
input:focus {
  outline: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-input-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
::-moz-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
:-ms-input-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
::-webkit-input-placeholder::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
::-moz-placeholder:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
:-ms-input-placeholder::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-search-cancel-button:after {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00d';
  color: #fff;
  padding-right: 4px;
}
.clearfix,
.clear:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.hide {
  display: none;
}
.section {
  text-align: center;
  font: 24px "Microsoft Yahei";
  color: #fff;
}
.tips {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 12px;
}
.alert {
  z-index: 9999;
  position: absolute;
  bottom: 2%;
  left: 40%;
  margin: 0 auto;
  padding: 12px 32px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 20%;
  text-align: center;
  font-size: 14px;
  color: #455e63;
  background: #e2fbff;
}
/* css3 animate */
.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.fadeOut {
  animation-name: fadeOut;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
  text-indent: 1.2em;
}
.text-right {
  text-align: right;
}
#wrapper {
  padding: 48px 20px;
  min-height: 480px;
}
@media only screen and (max-width: 768px) {
  #wrapper {
    padding: 20px 0;
    min-height: 0;
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hedaer-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2%;
  width: 100%;
  height: auto;
  opacity: 0.8;
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid #dedede;
}
@media only screen and (min-width: 1560px) {
  .header {
    padding: 0 12%;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    padding: 0 8%;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding-right: 12px;
  }
}
.header:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.logo {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background: no-repeat url("../img/logo.png") center center;
  background-size: contain;
}
.nav-list {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  font-size: 14px;
}
.nav-list li {
  display: inline-block;
}
.nav-list a {
  position: relative;
  display: block;
  margin: 8px 2px;
  padding: 3px 12px;
  color: #1bbc9b;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: color 0.4s;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
@media only screen and (max-width: 768px) {
  .nav-list a {
    margin: 8px 0;
    padding: 3px 6px;
  }
}
.nav-list a:hover {
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.nav-list a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(23,177,145,0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-list a:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.nav-list a i {
  margin: 0 1px;
}
.active-link {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0.9;
  border: 1px solid #1bbc9b;
}
.form-container {
  margin: 20px auto;
}
.form-container:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
@media only screen and (max-width: 768px) {
  .form-container {
    margin: 0 auto;
  }
}
form {
  float: right;
  margin: 0 auto;
  margin-right: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px;
  width: 384px;
  height: 280px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
  box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 768px) {
  form {
    float: none;
    margin-right: 0;
    margin: 0 auto;
    padding: 4%;
    width: 86%;
  }
}
form input {
  margin: 24px auto;
}
input {
  display: block;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 276px;
  height: 48px;
  color: #111;
  border: 1px solid rgba(255,255,255,0.4);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 18px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type=submit] {
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #111;
}
:-moz-placeholder {
  color: #111;
}
::-moz-placeholder {
  color: #111;
}
:-ms-input-placeholder {
  color: #111;
}
input:focus,
textarea:focus {
  overflow: hidden;
  background-color: rgba(255,255,255,0.7);
  -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
  box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
}
.btn {
  width: 138px;
  height: 44px;
  padding: 10.5px 21px;
  color: #e1e1e1;
  text-shadow: #333 0 1px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background: -moz-linear-gradient(top, #6da5a3, #416b68);
  background: -ms-linear-gradient(top, #6da5a3, #416b68);
  background: -o-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0 inset rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0 inset rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0 inset rgba(255,255,255,0.7) 0 1px 0;
}
.btn:hover {
  border: 1px solid #253737;
  color: #fff;
  text-shadow: #333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
}
.btn:active {
  margin-top: 1px;
  color: #fff;
  text-shadow: #333 0 -1px 0;
  border: 1px solid #253737;
  background: #6da5a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
  background: -webkit-linear-gradient(top, #416b68, #609391);
  background: -moz-linear-gradient(top, #416b68, #6da5a3);
  background: -ms-linear-gradient(top, #416b68, #6da5a3);
  background: -o-linear-gradient(top, #416b68, #6da5a3);
  background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
  -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0 inset rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0) 0 1px 0 inset rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(255,255,255,0) 0 1px 0 inset rgba(255,255,255,0.7) 0 1px 0;
}
.blank-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 600px;
}
.page-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 8px auto;
  max-width: 960px;
}
@media only screen and (max-width: 768px) {
  .page-box {
    width: 92%;
  }
}
.page-box .page-title {
  color: #1bbc9b;
}
.task-list li {
  margin: 8px auto;
  padding: 20px 32px;
  list-style: none;
  color: #1bbc9b;
  border: 1px solid #1bbc9b;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.task-list li:hover {
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
.task-list li a,
.task-list li p,
.task-list li h2 {
  color: #1bbc9b;
}
.task-list li h2 {
  font-size: 18px;
}
footer {
  z-index: 1;
  margin-top: 1em;
  background: #2f2f2f;
  padding: 0.5em 2%;
}
#footer {
  margin: 4px auto 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#footer .line {
  width: 100%;
  height: 11em;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #footer .line {
    display: none;
  }
}
#footer .line span {
  display: block;
  width: 0.5em;
  height: 3.25em;
  border-right: 0.125em solid #fff;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #footer .line span {
    position: absolute;
    left: 3em;
    margin: 0 0 1.5em;
  }
}
.author {
  width: 6.875em;
  height: 6.875em;
  margin: 0 auto;
  background: no-repeat url("../img/logo.jpg") left top;
  background-size: 6.875em 6.875em;
  -webkit-border-radius: 3.4375em;
  -moz-border-radius: 3.4375em;
  border-radius: 3.4375em;
  transition: transform 2s ease-out;
}
.author:hover {
  transform: rotateZ(360deg);
}
@media only screen and (min-width: 768px) {
  .author {
    position: absolute;
    top: 6em;
    margin: 0 0 1.5em;
  }
}
.info {
  font-family: "covered_by_your_graceregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  line-height: 1.3em;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .info {
    margin: 4.5em 0 2em 0;
    float: left;
    width: 75%;
  }
}
.social-font {
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-left: 3%;
}
@media only screen and (min-width: 568px) {
  .social-font {
    padding-left: 20%;
  }
}
@media only screen and (min-width: 768px) {
  .social-font {
    width: 18em;
    position: absolute;
    right: -3em;
    top: 3em;
  }
}
.social-font a {
  float: left;
  display: block;
  width: 14%;
  color: #fff;
  font-size: 180%;
  padding: 0.5em;
}
@media only screen and (min-width: 1024px) {
  .social-font a {
    padding: 0.3em;
  }
}
.social-font a:hover:before {
  color: #2ca6cb;
}
.social-font a[title="weibo"]::before,
.social-font a[title="twitter"]::before,
.social-font a[title="github"]::before,
.social-font a[title="facebook"]::before,
.social-font a[title="linkedin"]::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.social-font a[title="weibo"]::before {
  content: "\f18a";
}
.social-font a[title="twitter"]::before {
  content: "\f099";
}
.social-font a[title="github"]::before {
  content: "\f09b";
}
.social-font a[title="facebook"]::before {
  content: "\f09a";
}
.social-font a[title="linkedin"]::before {
  content: "\f08c";
}
.copyright {
  font-size: 0.8em;
  width: 100%;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .copyright {
    float: left;
  }
}
.copyright a {
  color: #fff;
}
.copyright a:hover {
  color: #2ca6cb;
}
