/* custom Font*/
@font-face {
  font-family: "covered_by_your_graceregular";
  font-weight: normal;
  font-style: normal;
  src: url("../font/coveredbyyourgrace-webfont.eot");
  src: url("../font/coveredbyyourgrace-webfont.eot?#iefix") format('embedded-opentype'), url("../font/coveredbyyourgrace-webfont.svg#covered_by_your_graceregular") format('svg'), url("../font/coveredbyyourgrace-webfont.woff") format('woff'), url("../font/coveredbyyourgrace-webfont.ttf") format('truetype');
}
/* icon Font */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../font/fontawesome-webfont.eot?v=#4.0.3");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("../font/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
/* Public style */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body {
  background: #fcfcfc;
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 100%;
  color: #817c7c;
  line-height: 1.5;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
  padding-left: 0.3em;
}
sub {
  bottom: -0.25em;
}
a {
  text-decoration: none;
  color: #817c7c;
}
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  transition: color 0.25s, background 0.5s;
}
a:hover:before {
  transition: color 0.25s, background 0.5s;
}
input:focus {
  outline: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-input-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
::-moz-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
:-ms-input-placeholder {
  color: #fff;
  padding: 2px 0 0 4px;
}
::-webkit-input-placeholder::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
::-moz-placeholder:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
:-ms-input-placeholder::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding-right: 4px;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-search-cancel-button:after {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00d';
  color: #fff;
  padding-right: 4px;
}
.clearafter {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.hide {
  display: none;
}
.section {
  text-align: center;
  font: 24px "Microsoft Yahei";
  color: #fff;
}
.tips {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 12px;
}
.alert {
  z-index: 9999;
  position: absolute;
  bottom: 2%;
  left: 40%;
  margin: 0 auto;
  padding: 12px 32px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 20%;
  text-align: center;
  font-size: 14px;
  color: #455e63;
  background: #e2fbff;
}
[data-tips] {
  position: relative;
  text-decoration: none;
}
[data-tips]:after,
[data-tips]:before {
  position: absolute;
  z-index: 100;
  opacity: 0;
}
[data-tips]:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: attr(data-tips);
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  white-space: nowrap;
}
[data-tips]:hover:after,
[data-tips]:hover:before {
  opacity: 1;
}
/* css3 animate */
.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.fadeOut {
  animation-name: fadeOut;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
  text-indent: 1.2em;
}
.text-right {
  text-align: right;
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hedaer-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}
.header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid #ccc;
}
.logo {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  height: 42px;
  background: url("../images/logo.png") no-repeat center center;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 100px;
  }
}
.nav-list {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  font-size: 14px;
}
.nav-list li {
  display: inline-block;
}
.nav-list a {
  position: relative;
  display: block;
  margin: 7px 4px;
  padding: 4px 12px;
  color: #1bbc9b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: color 0.4s;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
.nav-list a:hover {
  color: #fff;
}
.nav-list a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(23,177,145,0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-list a:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.active-link {
  background: #1bbc9b !important;
  color: #fff !important;
}
footer {
  margin-top: 1em;
  background: #1f1f1f;
  padding: 0.5em 2%;
}
#footer {
  width: 95%;
  margin: 4px auto 0;
  overflow: hidden;
  position: relative;
}
#footer .line {
  width: 100%;
  height: 14em;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  #footer .line {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #footer .line {
    width: 10em;
    float: left;
    position: relative;
  }
}
#footer .line span {
  display: block;
  width: 0.5em;
  height: 6.25em;
  border-right: 0.125em solid #fff;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #footer .line span {
    position: absolute;
    left: 3em;
    margin: 0 0 1.5em;
  }
}
.author {
  width: 6.875em;
  height: 6.875em;
  margin: 0 auto;
  background: no-repeat url("author-img-data") left top;
  background-size: 6.875em 6.875em;
  -webkit-border-radius: 3.4375em;
  -moz-border-radius: 3.4375em;
  border-radius: 3.4375em;
  transition: transform 2s ease-out;
}
.author:hover {
  transform: rotateZ(360deg);
}
@media only screen and (min-width: 768px) {
  .author {
    position: absolute;
    top: 6em;
    margin: 0 0 1.5em;
  }
}
.info {
  font-family: "covered_by_your_graceregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  line-height: 1.3em;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .info {
    margin: 4.5em 0 2em 0;
    float: left;
    width: 75%;
  }
}
.social-font {
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-left: 3%;
}
@media only screen and (min-width: 568px) {
  .social-font {
    padding-left: 20%;
  }
}
@media only screen and (min-width: 768px) {
  .social-font {
    width: 18em;
    position: absolute;
    right: -3em;
    top: 3em;
  }
}
.social-font a {
  float: left;
  display: block;
  width: 14%;
  color: #fff;
  font-size: 180%;
  padding: 0.5em;
}
@media only screen and (min-width: 1024px) {
  .social-font a {
    padding: 0.3em;
  }
}
.social-font a:hover:before {
  color: #2ca6cb;
}
.social-font a[title="weibo"]::before,
.social-font a[title="twitter"]::before,
.social-font a[title="github"]::before,
.social-font a[title="facebook"]::before,
.social-font a[title="linkedin"]::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.social-font a[title="weibo"]::before {
  content: "\f18a";
}
.social-font a[title="twitter"]::before {
  content: "\f099";
}
.social-font a[title="github"]::before {
  content: "\f09b";
}
.social-font a[title="facebook"]::before {
  content: "\f09a";
}
.social-font a[title="linkedin"]::before {
  content: "\f08c";
}
.copyright {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .copyright {
    float: left;
  }
}
.copyright a {
  color: #fff;
}
.copyright a:hover {
  color: #2ca6cb;
}
