.form-container
  margin 20px auto
  &:after
    clearfix()
  @media full
    margin 0 auto

form 
  float right
  margin 0 auto
  margin-right 10%
  box-sizing(border-box)
  padding 24px
  width 384px
  height 280px
  overflow: hidden
  border 1px solid rgba(0,0,0,.2)
  border-radius(5px)
  -moz-background-clip padding
  -webkit-background-clip padding-box
  background-clip padding-box
  background rgba(0, 0, 0, 0.5)
  box-shadow(0 0 13px 3px rgba(0,0,0,.5))
  @media full
    float none
    margin-right 0
    margin: 0 auto
    padding 4%
    width 86%

form input
  margin 24px auto

input
  display block
  margin-bottom 20px
  padding-left 20px
  padding-right 20px
  width 276px
  height 48px
  color #111
  border 1px solid rgba(255,255,255,.4)
  border-radius(8px)
  font-size 18px
  -moz-background-clip padding
  -webkit-background-clip padding-box
  background-clip padding-box

input[type=submit]
  cursor pointer

::-webkit-input-placeholder
  color #111

:-moz-placeholder
  color #111

::-moz-placeholder
  color #111

:-ms-input-placeholder
  color #111

input:focus, textarea:focus
  overflow: hidden
  background-color rgba(255, 255, 255, 0.7)
  box-shadow(0 0 5px 1px rgba(255,255,255,.5))

.btn
  width 138px
  height 44px
  padding 10.5px 21px
  color #e1e1e1
  text-shadow #333333 0 1px 0
  border-radius(4px)
  border 1px solid #253737
  background #416b68
  background -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68))
  background -webkit-linear-gradient(top, #6da5a3, #416b68)
  background -moz-linear-gradient(top, #6da5a3, #416b68)
  background -ms-linear-gradient(top, #6da5a3, #416b68)
  background -o-linear-gradient(top, #6da5a3, #416b68)
  background-image -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%)
  border-radius(6px)
  box-shadow(rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0)

.btn:hover
  border 1px solid #253737
  color #fff
  text-shadow #333333 0 1px 0
  background #416b68
  background -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68))
  background -webkit-linear-gradient(top, #77b2b0, #416b68)
  background -moz-linear-gradient(top, #77b2b0, #416b68)
  background -ms-linear-gradient(top, #77b2b0, #416b68)
  background -o-linear-gradient(top, #77b2b0, #416b68)
  background-image -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%)

.btn:active
  margin-top 1px
  color #fff
  text-shadow #333333 0 -1px 0
  border 1px solid #253737
  background #6da5a3
  background -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68))
  background -webkit-linear-gradient(top, #416b68, #609391)
  background -moz-linear-gradient(top, #416b68, #6da5a3)
  background -ms-linear-gradient(top, #416b68, #6da5a3)
  background -o-linear-gradient(top, #416b68, #6da5a3)
  background-image -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%)
  box-shadow(rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0)

