/* header */

.hedaer-fixed
  position fixed
  top 0
  z-index 999

.header
  box-sizing(border-box)
  padding 0 2%
  @media desktop
    padding 0 12%
  @media tablet
    padding 0 8%
  @media full
    padding-right 12px
  width 100%
  height auto
  opacity 0.8
  background rgba(255, 255, 255, 0.8)
  border-bottom 1px solid color-border
  &:after
    clearfix()
    
.logo
  display block
  box-sizing(border-box)
  width 48px
  height 48px
  background: no-repeat url("../img/logo.png") center center
  background-size contain  

.nav-list
  display block
  box-sizing(border-box)
  height 44px
  font-size 14px
  li
    display inline-block
  a
    position relative
    display block
    margin 8px 2px
    padding 3px 12px
    color color-theme
    -webkit-transform translateZ(0)
    transform translateZ(0)
    transition: color 0.4s
    box-shadow(0 0 1px rgba(0, 0, 0, 0))
    @media full
      margin 8px 0
      padding 3px 6px

    &:hover
      color #fff
      border-radius(6px)
    &:before
      content ""
      position absolute
      z-index -1
      top 0
      left 0
      right 0
      bottom 0
      background color-theme-opacity
      border-radius(6px)
      -webkit-transform scaleY(0)
      transform scaleY(0)
      -webkit-transform-origin 50% 100%
      transform-origin 50% 100%
      -webkit-transition-property transform
      transition-property transform
      -webkit-transition-duration 0.5s
      transition-duration 0.5s
      -webkit-transition-timing-function ease-out
      transition-timing-function ease-out
    &:hover:before
      -webkit-transform scaleY(1)
      transform scaleY(1)
      -webkit-transition-timing-function cubic-bezier(0.52, 1.64, 0.37, 0.66)
      transition-timing-function cubic-bezier(0.52, 1.64, 0.37, 0.66)
    i
      margin 0 1px;
 
.active-link
  border-radius(6px)
  opacity .9
  border 1px solid color-theme
