.task-box
  padding 24px 32px
  border 1px solid #eee
  background rgba(255, 255, 255, .8)
  .page-title
    color color-theme
  p
    color #111
    span
      color color-theme



.experiences
  li
    list-style none

.task-btn
  margin 10px auto