<!-- 公告列表 -->
<ul class="notice-list">
    <li>
        <a href="#" class="notice-list-card">
            <h2 class="task-title">荷园大义修</h2>
            <p class="task-room">地点：荷园</p>
            <p class="task-date">时间：2015-12-15 14:00</p>
            <i class="en-top"></i>
        </a>
    </li>
    <li>
        <a href="#" class="notice-list-card">
            <h2 class="task-title">荷园大义修</h2>
            <p class="task-room">地点：荷园</p>
            <p class="task-date">时间：2015-12-15 14:00</p>
            <i class="en-top"></i>
        </a>
    </li>
    <li>
        <a href="#" class="notice-list-card">
            <h2 class="task-title">荷园大义修</h2>
            <p class="task-room">地点：荷园</p>
            <p class="task-date">时间：2015-12-15 14:00</p>
            <i class="en-top"></i>
        </a>
    </li>
    <li>
        <a href="#" class="notice-list-card">
            <h2 class="task-title">荷园大义修</h2>
            <p class="task-room">地点：荷园</p>
            <p class="task-date">时间：2015-12-15 14:00</p>
            <i class="en-top"></i>
        </a>
    </li>
</ul>