<!-- 任务信息 -->
<div class="task-box">
    <h2 class="task-title">报修概要：电脑无法上网</h2>
    <p class="task-owner">联系人：杨鹏飞</p>
    <p class="task-phone">联系方式：<span>18814147780</span>/<span>63780</span> </p>
    <p class="task-qq">QQ: <span>438952164</span></p>
    <p class="task-room">五山24-201</p>
    <p class="task-date">2015-12-15 14:00</p>
    <p class="task-content">报修详情：窝的电脑突然无法上网了，型号是联想S410P，操作系统是WIN7~~</p>
    <div class="task-status">
        <p class="now-statues">状态：<span class="text-primary">可接收</span></p>
        <p class="task-date">接任务时间：<span>>2015-12-15 19:00</span</p>
        <p class="now-comments">机主评价：<span>机主</span></p>
        <p class="now-comments">
            队员反馈：
            <ul class="experiences">
                <li><span class="text-username">谭杰丰</span> 学会了重装系统 <a href="#">修改反馈信息</a> </li>
                <li><span class="text-username">杨明</span>学会上女生宿舍 <a href="#">修改反馈信息</a></li>
            </ul>
        </p>
    </div>
    <div class="task-btn">
        <a href="#" class="btn btn-primary">接任务/</a>
        <a href="#" class="btn btn-info">取消任务</a>
        <a href="#" class="btn btn-success">任务反馈</a>
    </div>
</div>