<!-- 队员任务列表 -->
<div class="list-header">
    
</div>
<ul class="task-list">
    <li>
        <a href="#" class="task-list-card">
            <h2 class="task-title">报修概要：电脑无法上网</h2>
            <p class="task-room">五山24-201</p>
            <p class="task-date">2015-12-15 14:00</p>
            <p class="task-flag">已完成</p>
        </a>
    </li>
    <li>
        <a href="#" class="task-list-card">
            <h2 class="task-title">报修概要：电脑无法上网</h2>
            <p class="task-room">五山24-201</p>
            <p class="task-date">2015-12-15 14:00</p>
            <p class="task-flag">进行中</p>
        </a>
    </li>
    <li>
        <a href="#" class="task-list-card">
            <h2 class="task-title">报修概要：电脑无法上网</h2>
            <p class="task-room">五山24-201</p>
            <p class="task-date">2015-12-15 14:00</p>
            <p class="task-flag">已完成</p>
        </a>
    </li>
    <li>
        <a href="#" class="task-list-card">
            <h2 class="task-title">报修概要：电脑无法上网</h2>
            <p class="task-room">五山24-201</p>
            <p class="task-date">2015-12-15 14:00</p>
            <p class="task-flag">进行中</p>
        </a>
    </li>
</ul>