body
  font-family "Microsoft Yahei",Arial,Helvetica,sans-serif

h2 
  color #08c
  font-size 18px
  font-weight bold

.btn-primary 
  margin-top 15px

.input-xlarge
  box-sizing border-box
  padding 10px 8px
  height 48px
  font-size 18px
  line-height 28px

.logo
  width 169px
  height 69px
  float left
  position relative
  z-index 3
  display inline-block
  padding 0
  background-image url(http://cdn.jingkao.me/public/images/logo.png?v=2015072603.png)

#tip
  color red

span.total
  color gray
  font-size 13px
  margin-left 25px

.quiz-title
  color #08c!important
  font-size 16px

.quiz-msg
  color gray
  font-size 11px
  padding 5px auto 0
  